<nav>
    <ul id="menu-main-menu" class="menu">
        <li id="menu-item-363" class="profile menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-363 page-363"><a href="{% url 'home' %}"><span><span>Profile</span></span></a></li>
        <li id="menu-item-22" class="resume menu-item menu-item-type-post_type menu-item-object-page menu-item-22 page-10"><a href="{% url 'resume' %}"><span><span>Resume</span></span></a></li>
{#        <li id="menu-item-21" class="portfolio menu-item menu-item-type-post_type menu-item-object-page menu-item-21 page-12"><a href="http://themes.themebakers.com/biopic/portfolio/"><span><span>Portfolio</span></span></a></li>#}
        <li id="menu-item-19" class="blog menu-item menu-item-type-post_type menu-item-object-page menu-item-19 page-18"><a href="http://blog-changeit.rhcloud.com/"><span><span>Blog</span></span></a></li>
        <li id="menu-item-20" class="contact menu-item menu-item-type-post_type menu-item-object-page menu-item-20 page-16"><a href="{% url 'contact' %}"><span><span>Contact</span></span></a></li>
    </ul>
</nav>