{% extends 'temp_base.html' %}

{% block content %}

<div class="innerContainer"  style="margin-left:61px;margin-top: -170px">
    <div class="desc">
    <h4>Professional profile.</h4>
    <div>
<p>India based Software Developer. Experienced Django and Python developer, with good experience in web application development using Django as the underlying backbone. Have done numerous projects in this, and my entire work experience is also build around it.</p>
</div>

<h4>Education &amp; Jobs.</h4>
<ul class="personalDev">
<li><span class="title">HighSchool</span><span class="time">2006</span><br><span>Radha Madhav Public School, Bareilly</span></li>
<li><span class="title">Intermediate</span><span class="time">2008</span><br><span>Radha Madhav Public School, Bareilly</span></li>
<li><span class="title">B.Tech(I.T.)</span><span class="time">July 2008 - June 2012</span><br><span>Uttar Pradesh Technical University, Ghaziabad</span></li>
<li><span class="title">Software Engineer</span><span class="time">March 2012 - June 2013</span><br><span>Firefly e-Ventures Pvt. Ltd., Gurgaon</span></li>
<li><span class="title">Software Engineer</span><span class="time">June 2013 - Jan 2014</span><br><span>Trivillas Pte. Ltd., Banglore</span></li>
</ul>
<h4>Skills &amp; Attributes.</h4>
<ul class="skills">
<li><span class="skill">Django</span>
<div class="rating"><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span></div>

</li>
<li><span class="skill">Python</span>
<div class="rating"><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="empty"></span></div>

</li>
<li><span class="skill">Backbonejs</span>
<div class="rating"><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="empty"></span><span class="empty"></span></div>

</li>
<li><span class="skill">mysql</span>
<div class="rating"><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="filled"></span><span class="empty"></span></div>

</li>
</ul>
<p>&nbsp;</p>
<h4>Projects</h4>
<ul class="personalDev">
<li><span class="title">Tripvillas ( www.tripvillas.com):</span><br>
    <span>
    Payment Gateway Integration,Sitemap Integration, Booking Tracking Integration,<br>
    icalendar Integration and implemented many new features.<br>
    Optimized the website by using Redis/Memcache, partitioning, indexing and many other techniques<br>
    </span>
</li>
<li><span class="title">HTCampus (www.htcampus.com):</span><br>
    <span>
        Enhancements and Bug Resolution , Massive work on the admin side of the project.
    </span>
</li>
<li><span class="title">Casper (www.casper.in ­ Worked from scratch):</span><br>
    <span>
        Revamping traditional college administration with new age technologies.<br>
        This is a personal project(most of the part is under construction) , hosted on Openshift(PaaS on Redhat ).<br>
        It connects institute students and faculty, provides a medium for better communication.<br>

    </span>
</li>
<li><span class="title">StudyAbroadPortal (www.mycollegesabroad.com ­Worked from Scratch):</span><br>
    <span>
        Social Plugin Integration, manual and Google ad units Integration,Massive work on Frontend.
    </span>
</li>
</ul>
{% endblock %}